@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.35s;
}

:root {
  --Prime: #e3e3e3;
}
html.dark {
  --Prime: #343434;
}
